<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/logo-fav.png') }}">
    <title>{% block title %} {% endblock %}</title>

    {% block link %}

    <link rel="stylesheet" type="text/css" href="assets/lib/perfect-scrollbar/css/perfect-scrollbar.min.css"/>
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='lib/material-design-icons/css/material-design-iconic-font.min.css') }}"/>
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    [endif]-->
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='lib/datetimepicker/css/bootstrap-datetimepicker.min.css') }}"/>
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='lib/datetimepicker/js/locales/bootstrap-datetimepicker.tr.js') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/select2/css/select2.min.css') }}"/>
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='lib/bootstrap-slider/css/bootstrap-slider.css') }}"/>
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='lib/jquery.vectormap/jquery-jvectormap-1.2.2.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/jqvmap/jqvmap.min.css') }}"/>
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='lib/jquery.fullcalendar/fullcalendar.min.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/summernote/summernote.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='lib/dropzone/dist/dropzone.css') }}"/>
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='lib/datatables/css/dataTables.bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    {% endblock link %}

</head>
<body>
<div class="be-wrapper">
    <nav class="navbar navbar-default navbar-fixed-top be-top-header">
        <div class="container-fluid">
            <div class="navbar-header"><a href="{{ url_for('home') }}" class="navbar-brand"></a></div>
            <div class="be-right-navbar">
                <ul class="nav navbar-nav navbar-right be-user-nav">
                    <li class="dropdown"><a href="#" data-toggle="dropdown" role="button" aria-expanded="false"
                                            class="dropdown-toggle"><img
                            src="/assets/img/avatar.png"
                            alt="Avatar">
                        <span class="user-name">{{ session.user }}</span></a>
                        <ul role="menu" class="dropdown-menu">
                            <li>
                                <div class="user-info">
                                    <div class="user-name">{{ session.user }}</div>
                                    <div class="user-position online">Çevrimiçi</div>
                                </div>
                            </li>
                            <li><a href="/user_profile"><span class="icon mdi mdi-face"></span> Profil</a></li>
                            <li><a href="{{ url_for('reset_request') }}"><span class="icon mdi mdi-settings"></span> Şifre Değiştir</a></li>
                            <li><a href="/logout"><span class="icon mdi mdi-power"></span> Çıkış</a></li>
                        </ul>
                    </li>
                </ul>
                <div class="page-title"><span>{% block page_title %} {% endblock page_title %}</span></div>
                
            </div>
        </div>
    </nav>
    <div class="be-left-sidebar">
        <div class="left-sidebar-wrapper"><a href="#" class="left-sidebar-toggle">Menu</a>
            <div class="left-sidebar-spacer">
                <div class="left-sidebar-scroll">
                    <div class="left-sidebar-content">
                        <ul class="sidebar-elements">
                            <li class="divider">Menu</li>
                            <li><a href="/dashboard"><i class="icon mdi mdi-home"></i><span>Ana Sayfa</span></a>
                            </li>
                            <li class="parent"><a href="#"><i
                                    class="icon mdi mdi-plaster"></i><span>Hasta & Randevu</span></a>
                                <ul class="sub-menu">
                                    <li><a href="{{ url_for('patient_list') }}"><span class="icon mdi mdi-calendar-check"></span> 
                                        Randevu Oluştur</a>
                                    </li>
                                    <li><a href="{{ url_for('add_patient') }}"><span class="icon mdi mdi-account-add"></span> Hasta
                                        Ekle</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="parent"><a href="#"><i class="icon mdi mdi-calendar-alt"></i><span>Randevu Listesi</span></a>
                                <ul class="sub-menu">
                                    <li><a href="{{ url_for('appointment_list') }}"><span class="mdi mdi-assignment-o"></span>
                                        Muayene Oluştur</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="parent"><a href="#"><i
                                    class="icon mdi mdi-account"></i><span>Kullanıcı İşlemleri</span></a>
                                <ul class="sub-menu">
                                    <li><a href="{{ url_for('add_user') }}"><span class="mdi mdi-account-add"></span> Kullanıcı
                                        Ekle</a>
                                    </li>
                                    <li><a href="{{ url_for('user_list') }}"><span class="mdi mdi-accounts"></span> Kullanıcı Görüntüle</a>
                                    </li>
                                </ul>
                            </li>
                            
                            
                        </ul>
                    </div>
                </div>
            </div>
            
        </div>
    </div>

    <div class="be-content">

        {% if days_left() < 31 %}
        <div role="alert" class="alert alert-contrast alert-warning alert-dismissible">
            <div class="icon"><span class="mdi mdi-alert-triangle"></span></div>
            <div class="message">
                <strong><font size="3">Dikkat!</font></strong>
                <font size="3">Uygulamayı kullanmak için kalan süreniz: <strong>{{ days_left() }}
                gündür.</strong> Lisans yenilemesi için lütfen
                <a href="{{ url_for('payment') }}" target="_blank"> tıklayınız...</a></font>
            </div>
        </div>
        {% endif %}

        <div class="page-head">
            <h2 class="page-head-title">{% block page_head_title %}{% endblock %}</h2>
            <ol class="breadcrumb page-head-nav">
                <li><a href="/dashboard">Ana Sayfa</a></li>
                <li><a href="{% block url %} {% endblock %}">{% block page %}{% endblock %}</a></li>
                <li class="active">{% block page_header %} {% endblock %}</li>
            </ol>
        </div>

        <div class="main-content container-fluid">


            {% block body %}


            {% endblock body %}


        </div>
    </div>
    <nav class="be-right-sidebar">
        <div class="sb-content">
            <div class="tab-navigation">
                <ul role="tablist" class="nav nav-tabs nav-justified">
                    <li role="presentation" class="active"><a href="#tab1" aria-controls="tab1" role="tab"
                                                              data-toggle="tab">Chat</a></li>
                    <li role="presentation"><a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">Todo</a>
                    </li>
                    <li role="presentation"><a href="#tab3" aria-controls="tab3" role="tab"
                                               data-toggle="tab">Settings</a></li>
                </ul>
            </div>
            <div class="tab-panel">
                <div class="tab-content">
                    <div id="tab1" role="tabpanel" class="tab-pane tab-chat active">
                        <div class="chat-contacts">
                            <div class="chat-sections">
                                <div class="be-scroller">
                                    <div class="content">
                                        <h2>Recent</h2>
                                        <div class="contact-list contact-list-recent">
                                            <div class="user"><a href="#"><img src="/assets/img/avatar1.png"
                                                                               alt="Avatar">
                                                <div class="user-data"><span class="status away"></span><span
                                                        class="name">Claire Sassu</span><span class="message">Can you share the...</span>
                                                </div>
                                            </a></div>
                                            <div class="user"><a href="#"><img src="{{ url_for('static', filename='img/avatar2.png') }}"
                                                                               alt="Avatar">
                                                <div class="user-data"><span class="status"></span><span class="name">Maggie jackson</span><span
                                                        class="message">I confirmed the info.</span></div>
                                            </a></div>
                                            <div class="user"><a href="#"><img src="{{ url_for('static', filename='img/avatar3.png') }}"
                                                                               alt="Avatar">
                                                <div class="user-data"><span class="status offline"></span><span
                                                        class="name">Joel King		</span><span class="message">Ready for the meeti...</span>
                                                </div>
                                            </a></div>
                                        </div>
                                        <h2>Contacts</h2>
                                        <div class="contact-list">
                                            <div class="user"><a href="#"><img src="{{ url_for('static', filename='img/avatar4.png') }}"
                                                                               alt="Avatar">
                                                <div class="user-data2"><span class="status"></span><span class="name">Mike Bolthort</span>
                                                </div>
                                            </a></div>
                                            <div class="user"><a href="#"><img src="{{ url_for('static', filename='img/avatar5.png') }}"
                                                                               alt="Avatar">
                                                <div class="user-data2"><span class="status"></span><span class="name">Maggie jackson</span>
                                                </div>
                                            </a></div>
                                            <div class="user"><a href="#"><img src="{{ url_for('static', filename='img/avatar6.png') }}"
                                                                               alt="Avatar">
                                                <div class="user-data2"><span class="status offline"></span><span
                                                        class="name">Jhon Voltemar</span></div>
                                            </a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="bottom-input">
                                <input type="text" placeholder="Search..." name="q"><span class="mdi mdi-search"></span>
                            </div>
                        </div>
                        <div class="chat-window">
                            <div class="title">
                                <div class="user"><img src="{{ url_for('static', filename='img/avatar2.png') }}" alt="Avatar">
                                    <h2>Maggie jackson</h2><span>Active 1h ago</span>
                                </div>
                                <span class="icon return mdi mdi-chevron-left"></span>
                            </div>
                            <div class="chat-messages">
                                <div class="be-scroller">
                                    <div class="content">
                                        <ul>
                                            <li class="friend">
                                                <div class="msg">Hello</div>
                                            </li>
                                            <li class="self">
                                                <div class="msg">Hi, how are you?</div>
                                            </li>
                                            <li class="friend">
                                                <div class="msg">Good, I will need support with my pc</div>
                                            </li>
                                            <li class="self">
                                                <div class="msg">Sure, just tell me what is going on with your
                                                    computer?
                                                </div>
                                            </li>
                                            <li class="friend">
                                                <div class="msg">I do not know it just turns off suddenly</div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="chat-input">
                                <div class="input-wrapper"><span class="photo mdi mdi-camera"></span>
                                    <input type="text" placeholder="Message..." name="q" autocomplete="off"><span
                                            class="send-msg mdi mdi-mail-send"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="tab2" role="tabpanel" class="tab-pane tab-todo">
                        <div class="todo-container">
                            <div class="todo-wrapper">
                                <div class="be-scroller">
                                    <div class="todo-content"><span class="category-title">Today</span>
                                        <ul class="todo-list">
                                            <li>
                                                <div class="be-checkbox be-checkbox-sm"><span
                                                        class="delete mdi mdi-delete"></span>
                                                    <input id="todo1" type="checkbox" checked="">
                                                    <label for="todo1">Initialize the project</label>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="be-checkbox be-checkbox-sm"><span
                                                        class="delete mdi mdi-delete"></span>
                                                    <input id="todo2" type="checkbox">
                                                    <label for="todo2">Create the main structure</label>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="be-checkbox be-checkbox-sm"><span
                                                        class="delete mdi mdi-delete"></span>
                                                    <input id="todo3" type="checkbox">
                                                    <label for="todo3">Updates changes to GitHub</label>
                                                </div>
                                            </li>
                                        </ul>
                                        <span class="category-title">Tomorrow</span>
                                        <ul class="todo-list">
                                            <li>
                                                <div class="be-checkbox be-checkbox-sm"><span
                                                        class="delete mdi mdi-delete"></span>
                                                    <input id="todo4" type="checkbox">
                                                    <label for="todo4">Initialize the project</label>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="be-checkbox be-checkbox-sm"><span
                                                        class="delete mdi mdi-delete"></span>
                                                    <input id="todo5" type="checkbox">
                                                    <label for="todo5">Create the main structure</label>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="be-checkbox be-checkbox-sm"><span
                                                        class="delete mdi mdi-delete"></span>
                                                    <input id="todo6" type="checkbox">
                                                    <label for="todo6">Updates changes to GitHub</label>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="be-checkbox be-checkbox-sm"><span
                                                        class="delete mdi mdi-delete"></span>
                                                    <input id="todo7" type="checkbox">
                                                    <label for="todo7"
                                                           title="This task is too long to be displayed in a normal space!">This
                                                        task is too long to be displayed in a normal space!</label>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="bottom-input">
                                <input type="text" placeholder="Create new task..." name="q"><span
                                    class="mdi mdi-plus"></span>
                            </div>
                        </div>
                    </div>
                    <div id="tab3" role="tabpanel" class="tab-pane tab-settings">
                        <div class="settings-wrapper">
                            <div class="be-scroller"><span class="category-title">General</span>
                                <ul class="settings-list">
                                    <li>
                                        <div class="switch-button switch-button-sm">
                                            <input type="checkbox" checked="" name="st1" id="st1"><span>
                            <label for="st1"></label></span>
                                        </div>
                                        <span class="name">Available</span>
                                    </li>
                                    <li>
                                        <div class="switch-button switch-button-sm">
                                            <input type="checkbox" checked="" name="st2" id="st2"><span>
                            <label for="st2"></label></span>
                                        </div>
                                        <span class="name">Enable notifications</span>
                                    </li>
                                    <li>
                                        <div class="switch-button switch-button-sm">
                                            <input type="checkbox" checked="" name="st3" id="st3"><span>
                            <label for="st3"></label></span>
                                        </div>
                                        <span class="name">Login with Facebook</span>
                                    </li>
                                </ul>
                                <span class="category-title">Notifications</span>
                                <ul class="settings-list">
                                    <li>
                                        <div class="switch-button switch-button-sm">
                                            <input type="checkbox" name="st4" id="st4"><span>
                            <label for="st4"></label></span>
                                        </div>
                                        <span class="name">Email notifications</span>
                                    </li>
                                    <li>
                                        <div class="switch-button switch-button-sm">
                                            <input type="checkbox" checked="" name="st5" id="st5"><span>
                            <label for="st5"></label></span>
                                        </div>
                                        <span class="name">Project updates</span>
                                    </li>
                                    <li>
                                        <div class="switch-button switch-button-sm">
                                            <input type="checkbox" checked="" name="st6" id="st6"><span>
                            <label for="st6"></label></span>
                                        </div>
                                        <span class="name">New comments</span>
                                    </li>
                                    <li>
                                        <div class="switch-button switch-button-sm">
                                            <input type="checkbox" name="st7" id="st7"><span>
                            <label for="st7"></label></span>
                                        </div>
                                        <span class="name">Chat messages</span>
                                    </li>
                                </ul>
                                <span class="category-title">Workflow</span>
                                <ul class="settings-list">
                                    <li>
                                        <div class="switch-button switch-button-sm">
                                            <input type="checkbox" name="st8" id="st8"><span>
                            <label for="st8"></label></span>
                                        </div>
                                        <span class="name">Deploy on commit</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>


{% block script %}

<script src="assets/lib/jquery/jquery.min.js" type="text/javascript"></script>
<script src="assets/lib/perfect-scrollbar/js/perfect-scrollbar.jquery.min.js" type="text/javascript"></script>
<script src="assets/js/main.js" type="text/javascript"></script>
<script src="assets/lib/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
<script src="assets/lib/jquery-flot/jquery.flot.js" type="text/javascript"></script>
<script src="assets/lib/jquery-flot/jquery.flot.pie.js" type="text/javascscrollbarript"></script>
<script src="assets/lib/jquery-flot/jquery.flot.resize.js" type="text/javascript"></script>
<script src="assets/lib/jquery-flot/plugins/jquery.flot.orderBars.js" type="text/javascript"></script>
<script src="assets/lib/jquery-flot/plugins/curvedLines.js" type="text/javascript"></script>
<script src="assets/lib/jquery.sparkline/jquery.sparkline.min.js" type="text/javascript"></script>
<script src="assets/lib/countup/countUp.min.js" type="text/javascript"></script>
<script src="assets/lib/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
<script src="assets/lib/jqvmap/jquery.vmap.min.js" type="text/javascript"></script>
<script src="assets/lib/jqvmap/maps/jquery.vmap.world.js" type="text/javascript"></script>
<script src="assets/js/app-dashboard.js" type="text/javascript"></script>
<script type="text/javascript">
      $(document).ready(function(){
      	//initialize the javascript
      	App.init();
      	App.dashboard();

      });

</script>

{% endblock script %}

</body>
</html>