<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>

<h1>3.2 Hasar</h1>
<h2>3.2.1. Teknik Kâr / Zarar ve Hasar / Prim Oranı Kontrolü</h2>
<p>(Reasürans Dâhil-IBNR Hariç)</p>
<table style="width: 259.3125px;" border="1" cellspacing="2" cellpadding="3">
    <thead>
    <tr>
        <th style="width: 69px; background-color: #d5edbb;">Yıllar</th>
        <th style="width: 101px; background-color: #d5edbb;">T K/Z (TL)</th>
        <th style="width: 58.3125px; background-color: #d5edbb;">H/P %</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td style="width: 69px;">2017</td>
        <td style="width: 101px; text-align: right;">-22.198</td>
        <td style="width: 58.3125px; text-align: right;">93,20</td>
    </tr>
    <tr>
        <td style="width: 69px;">2018</td>
        <td style="width: 101px; text-align: right;">2.952.217</td>
        <td style="width: 58.3125px; text-align: right;">16,43</td>
    </tr>
    <tr>
        <td style="width: 69px;">2019/08</td>
        <td style="width: 101px; text-align: right;">631.859</td>
        <td style="width: 58.3125px; text-align: right;">45,27</td>
    </tr>
    </tbody>
</table>
<p>&nbsp;</p>
<h2>3.2.2 Ex-Gratia Ödemeleri Kontrolü</h2>
<p>01.01.2017-15.10.2019 tarihleri arasında, ilgili acentenin &uuml;retimine konu herhangi bir ex-gratia ödemesi
    bulunmamaktadır.</p>
<p>&nbsp;</p>
<h1>3.3. Diğer</h1>
<h2>3.3.1. Borç Durumu Kontrolü</h2>
<p>Daimî kartlı çalışan acentenin 16.10.2019 sat 16:30 itibariyle vadesi geçmiş borcu bulunmamaktadır.</p>
<p>&nbsp;</p>
<h2>3.3.2. Teminat Yeterliliği Kontrolü</h2>
<table style="width: 542.390625px;" border="1" cellspacing="2" cellpadding="3">
    <tbody>
    <tr>
        <td style="width: 94px; text-align: center; background-color: #d5edbb;">
            <p>Toplam Borç</p>
            <p>(16.10.2019)</p>
        </td>
        <td style="width: 99px; text-align: center; background-color: #d5edbb;">
            <p>CK/SN/K. KR</p>
        </td>
        <td style="width: 44px; text-align: center; background-color: #d5edbb;">
            <p>Teminat</p>
        </td>
        <td style="width: 44px; text-align: center; background-color: #d5edbb;">
            <p>Toplam Borç</p>
        </td>
        <td style="width: 212.390625px; text-align: center; background-color: #d5edbb;">
            <p>Denetim Durum Açıklaması</p>
            <p>(16.10.2019)</p>
        </td>
    </tr>
    <tr>
        <td style="width: 94px;">
            <p>Borcu yoktur.</p>
        </td>
        <td style="text-align: center; width: 99px;">
            <p>-</p>
        </td>
        <td style="text-align: center; width: 44px;">
            <p>5.000</p>
            <p>50.000</p>
        </td>
        <td style="text-align: center; width: 44px;">
            <p>NA</p>
            <p>*TM</p>
        </td>
        <td style="text-align: center; width: 212.390625px;">
            <p>Acentenin teminatı yeterlidir.</p>
        </td>
    </tr>
    </tbody>
</table>
<p>*Mektup vadesi: 02.01.2020</p>
<h2><strong>3.3.3. Acente Şikâyetleri</strong></h2>
<p>01.01.2017-27.09.2019 tarihleri arasında acente ile ilgili haklı bir şikâyet bulunmamaktadır.</p>

</body>
</html>